body {
    background-color: #283d70;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.btn {
    width: 18%;
    padding: 7px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 70%;
    font-weight: 580;
}

.btn:hover {
    filter: brightness(70%);
}

.btn-sign-in {
    background-color: #dadada;
    color: black;
}

.btn-sign-up {
    background-color: #fabb5a;
    color: black;
}
