body {
    background-color: #283d70;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo {
    flex: 1;
}

img {
    width: 61%;
    height: auto;
    margin: 0 auto;
}

.form {
    flex: 1;
    margin-left: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.form-control {
    border-radius: 8px;
}
